*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    height: 100vh;
    background-color: black;
    background-image: url(image/pexudah-9.jpg);
    background-size: cover;
    background-position: center;
}
/* WEB LOGO */
#weblogo{
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
}


li{
    list-style: none;

}

a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}


li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 20px;
}

li a:hover{
    color:aliceblue;
    background-color: orange;
    padding: 9px 12px 9px 12px ;
    
}
/* HEADER DESIGN */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: none;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn{
    color: aliceblue;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: aliceblue;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}


.action_btn:hover{
    scale: 1.1;
    color: aliceblue;
}


.action_btn:active{
    scale:0.95;
}

/* DROP DOWN MENUE */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* HERO */
section#hero{
    height: calc(100vh-60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
/* RESPONSIVE DESIGN */
@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }


    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}